*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #dadada48;
}

h1{
    color: black;
    padding: 10px;
    text-align: center;
    align-items: center;
    margin-top: 4rem;
}
p{
    color: rgba(0, 0, 0, 0.39);
    font-family: Poppins;
    font-weight: 400;
    padding: 10px;
    text-align: center;
    align-items: center;
    font-size: 1rem;
}
a{
    text-decoration: none;
    color: #fff;
}

.main_icon{
    display: flex;
    width: fit-content;
    margin: auto;
    margin-top: 2%;
    background-color: #fff;
    border-radius: 8px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.icon_div{
    padding: 0.4rem 2rem;
}
.icon1:nth-child(1){
    color: slateblue;
}
.icon1:nth-child(1):hover{
    color: rgb(2, 1, 12);
}
.icon{
    font-size: 2rem;
}
.icon:hover{
    color: slateblue;
}

.cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.logo{
    margin: auto;
    margin-top: 3%;
    height: 250px;
    width: 250px;
    align-items: center;
    filter: drop-shadow(0px 0px 2px rgba(30, 21, 83, 0.2));
    border: solid rgb(243, 228, 228);
    border-radius: 50px;
}
.logo-jitsu{
    background: url("../svg/jitsu.svg") no-repeat;
}
.logo-clickHouse{
    background: url("../svg/abc.svg") no-repeat;
}


.btn-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 5%;
}

.btn-box{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 309px;
    height: 110px;
    background: #FFFFFF;
    box-shadow: 0px 0px 2px rgba(30, 21, 83, 0.2);
    border-radius: 50px;
}

.about{
    color: rgb(3, 0, 0);
}

.btn{
    width: 140px;
    height: 35px;
    background: #000000;
    color: seashell;
    border-radius: 8px;
}


